header{
    border: 2px solid black;
    height: 100px;
    background-color: gainsboro;
    
    
}
h1{
    margin-top: 40px;
    color: green;
}


nav{
    padding-top: 20px;
    background-color: lightgreen;
    border: 3px solid black;
    color: black;
    height: 30px;
    border-left: 3px solid black;
    border-right: 3px solid black;
}
ul, li{
    display: inline;
    list-style: none;
    
}
h2{
    color: black;
}
table{
    background-color: lightgreen;
    border: 3px solid black;
    height: 250px;
    width: 1330px;
}
button{
    margin-top: 5px;
}
body{
    border: 3px solid black;

}
footer{
    color: black;
    
    
    background-color: gainsboro;
    border: 3px solid black;
    height: 300px;
}